ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 5px;
    border-radius: 0.5em;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(236, 8, 8);
  }

table, th, td{

border: 1px solid black;
border-collapse: collapse;

}

table{
    table-layout: fixed;
    margin: 0 auto;
    width: 360px;
    height: 290px;
    background-color: #5B6B7A;
}

td{
    width: 50%;
    text-align: center;
}

tr:hover{
    border: 2px solid black;
}

body{
    background-color: #5691BB;
}